@charset "utf-8";
html {
  color: #4a4a4a;
}
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0;
}
body,
input,
textarea,
button,
select,
pre,
xmp,
tt,
code,
kbd,
samp {
	font-size: .28rem;
  line-height: 1.5;
  font-family: tahoma, arial, 'Hiragino Sans GB', simsun, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
small,
big,
input,
textarea,
button,
select {
  font-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: tahoma, arial, 'Hiragino Sans GB', '微软雅黑', simsun, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: normal;
}
address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}
caption,
th {
  text-align: inherit;
}
ul,
ol,
menu {
  list-style: none;
}
fieldset,
img {
  border: 0;
}
img,
object,
input,
textarea,
button,
select {
  vertical-align: middle;
}
article,
aside,
footer,
header,
section,
nav,
figure,
figcaption,
hgroup,
details,
menu {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '\0020';
}
textarea {
  overflow: auto;
  resize: vertical;
}
input,
textarea,
button,
select,
a {
  outline: 0 none;
  border: none;
	padding: 0;
	margin: 0;
	background: transparent !important;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0 !important;
}
mark {
  background-color: transparent;
}
a,
ins,
s,
u,
del {
  text-decoration: none;
}
sup,
sub {
  vertical-align: baseline;
}
html {
  overflow-x: hidden;
  height: 100%;
  font-size: 13.333333333333333333333333333333333333333vw;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: Arial, 'Microsoft Yahei', 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: .28rem;
  line-height: 1;
  -webkit-text-size-adjust: none;
  background: #fff;
}
a {
  color: #8E8E93;
  text-decoration: none;
}
input {
	border: 0 !important;
}

hr {
	background: #f6f6f6;
	height: .01rem;
  border: 0;
}

/* 单行打点 */
.one-overflow-hide {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

/* 多行打点 */
.many-overflow-hide {
	line-height: .32rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	/* 代表超过两行打点，可根据需要更换 */
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/* 右箭头 */
.arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow::after {
  content: '';
  width: .15rem;
  height: .15rem;
  border-top: .03rem solid #ccc;
  border-right: .03rem solid #ccc;
  transform: rotate(45deg);
}
